:root {
    --primaryColor: rgb(255, 255, 255);
    --secondaryColor: rgb(197, 196, 201);
    --darkerColor: rgb(10, 10, 36);
    margin: 3rem 2rem
}

body {
    background-size: cover;
}

.form-group {
    padding: 0.5rem 0rem;
    width: 30rem;
}

.form-control {
    font-style: italic;
}

.meme-form {
    padding: 1rem 1rem;
    margin: 0rem 3rem 3rem 3rem;
}

.submit-btn {
    padding-top: 1rem;
}

.meme-section {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.meme-item {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    background-color: var(--secondaryColor);
    border-radius: 10px;
}

.meme-item p {
    position: absolute;
    float: none;
    font-size: 250%;
    text-align: center;

}





